<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portpolio.dao.ProductDao">

	<insert id="regisProduct" parameterType="kr.green.portpolio.vo.ProductVo" useGeneratedKeys="true" keyProperty="product.product_num">
		insert into portpolio.product(product_category, product_title, product_content, product_amount, product_cost, product_origin) 
			values(#{product.product_categoryNum}, #{product.product_title}, #{product.product_content}, #{product.product_amount}, #{product.product_cost}, #{product.product_origin})
	</insert>
	
	<insert id="mainFileRegis" parameterType="kr.green.portpolio.vo.FileVo">
		insert into portpolio.files(product_num, file_oriName, file_name, main) values(#{product_num}, #{file_oriName}, #{file_name}, 'Y')
	</insert>
	<insert id="fileRegis" parameterType="kr.green.portpolio.vo.FileVo">
		insert into portpolio.files(product_num, file_oriName, file_name) values(#{product_num}, #{file_oriName}, #{file_name})
	</insert>
	
	<select id="getProduct" resultType="kr.green.portpolio.vo.ProductVo">
		select * from portpolio.product where isDel = 'N' and product_num = #{product_num}
	</select>
	<select id="getProductList" resultType="kr.green.portpolio.vo.ProductVo">
		select * from portpolio.product where isDel = 'N'
	</select>
	<select id="getProductList2" resultType="kr.green.portpolio.vo.ProductVo">
		select * from portpolio.product where isDel = 'N' and product_category = #{product_category}
	</select>
	<select id="getProductSaleRankList" resultType="kr.green.portpolio.vo.ProductVo">
		select * from portpolio.product where isDel = 'N' order by product_sale desc limit 0,10
	</select>
	<select id="getProductList3" resultType="kr.green.portpolio.vo.ProductVo">
		select * from portpolio.product where isDel = 'N' 
		and (product_title like concat('%', #{search}, '%') or product_content like concat('%', #{search}, '%'))
	</select>
	
	<update id="deleteProduct">
		update portpolio.product set isDel = 'Y' where product_num = #{product_num}
	</update>
	<select id="getMainFile" resultType="kr.green.portpolio.vo.FileVo">
		select * from portpolio.files where isDel = 'N' and main ='Y' and product_num = #{product_num}
	</select>
	<select id="getMainFileList" resultType="kr.green.portpolio.vo.FileVo">
		select * from portpolio.files where isDel = 'N' and main ='Y'
	</select>
	<select id="getSubFileList" resultType="kr.green.portpolio.vo.FileVo">
		select * from portpolio.files where isDel ='N' and main = 'N' and product_num = #{product_num}
	</select>
	
	<update id="deleteFiles" parameterType="Integer">
		update portpolio.files set isDel = 'Y' where product_num = #{product_num}
	</update>
	
	<update id="modifyProduct" parameterType="kr.green.portpolio.vo.FileVo">
		update portpolio.product set product_category=#{product.product_categoryNum}, product_title=#{product.product_title}, product_content=#{product.product_content},
									 product_amount=#{product.product_amount}, product_cost=#{product.product_cost}, product_origin=#{product.product_origin}
		where product_num = #{product.product_num}
	</update>
	
	<insert id="regisMyBox">
		insert into portpolio.myBox(product_num, user_id) values(#{product_num}, #{user_id})
	</insert>
	
	<select id="getMyBox" resultType="kr.green.portpolio.vo.MyBoxVo">
		select * from portpolio.myBox where user_id = #{user_id}
	</select>
	
	<delete id="deleteMyBox">
		delete from portpolio.myBox where product_num = #{product_num} and user_id = #{user.user_id}
	</delete>
	<delete id="deleteOrder">
		delete from portpolio.order where product_num = #{product_num} and user_id = #{user.user_id}
	</delete>
	<delete id="deleteOrder2">
		delete from portpolio.order where order_num = #{order_num}
	</delete>
	<delete id="deleteOrderInfo2">
		delete from portpolio.order where payment_completion = 'Y'
	</delete>
	
	<insert id="regisOrderInfo">
		insert into portpolio.order(order_amount, product_num, order_cost, user_id) values(#{order_amount}, #{product.product_num}, #{order_cost}, #{user.user_id})
	</insert>
	
	<update id="deleteOrderInfo">
		update portpolio.order set isDel='Y' where user_id = #{user.user_id} and product_num = #{product_num}
	</update>
	
	
	<select id="getOrderInfos" resultType="kr.green.portpolio.vo.OrderVo">
		select * from portpolio.order where user_id = #{user.user_id}
	</select>
	
	<update id="modifyOrderInfo">
		update portpolio.order set order_amount=#{order_amount}, order_cost=#{order_cost}, isDel = #{isDel} where product_num = #{product.product_num} and user_id = #{user_id}
	</update>
	
	<select id="getOrderInfo" resultType="kr.green.portpolio.vo.OrderVo">
		select * from portpolio.order where product_num = #{product_num} and user_id = #{user.user_id} and isDel = 'N'
	</select>
	
	<select id="getOrderInfo2" resultType="kr.green.portpolio.vo.OrderVo">
		select * from portpolio.order where order_num = #{order_num}
	</select>
	
	<insert id="regisPayment" useGeneratedKeys="true" keyProperty="payment.payment_num">
		insert into portpolio.payment(payment_way, payment_cost, user_id) values(#{payment.payment_way}, #{payment.payment_cost}, #{user.user_id})
	</insert>
	
	<insert id="regisDelivery">
		insert into portpolio.delivery(payment_num, recipient, delivery_address, demand) values(#{payment_num}, #{delivery.recipient}, #{delivery.delivery_address}, #{delivery.demand})
	</insert>
	
	<insert id="regisPresentPayment">
		insert into portpolio.paymentpresent(payment_num, order_num) values(#{payment_num}, #{order_num})
	</insert>
	
	<update id="modifyPaymentCompletion">
		update portpolio.order set payment_completion = 'Y' where user_id = #{user.user_id} and order_num = #{order_num}
	</update>
</mapper>
